@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/StyleSheet.css">
    <title>Help Center</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Comfortaa:wght@300&family=Kanit:wght@300&family=Krona+One&family=M+PLUS+1p:wght@300&family=Poiret+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400&family=Arvo&family=Kanit:wght@300&family=Krona+One&family=Radio+Canada:wght@300;400&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    </head>
    <body class="back">
        
            <div class="nav">
                <div class="nav1">
                    <ul class="list1">
                        <li><div class="items" style="margin-left: 0px"><a style="text-decoration: none; color:white" href="afronimpex.com">afronleathers.com</a></div></li>
                        <li><div class="items"><span><img src="/imgs/593-transparent-background-phone-icon-white-11562889130j9sl4rmews.png" width="10px"> </span><span>03044355551</span></div></li>
                       <div class="lefty"><li><div class="items">About Us</div></li>
                       <li><div class="items"><a href="https://m.facebook.com/afronimpex/"><img src="/imgs/facebook-transparent-logo-png-0.png" width="19px"></a></div></li>
                       <li><div class="items"><a href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img src="/imgs/580b57fcd9996e24bc43c521.png" width="21px"></a></div></li></div>
                    </ul>
                </div>
                <div class="nav2">
                    <ul class="list2">
                        <li class="al" style="margin-top: 8px; font-size: larger;"><div class="items2" style="color:dimgray; font: bold; ">AFRON  LEATHERS</div></li>
                        <li  style="margin-left: 421px; margin-top: 0px;"><div class="items2"><img src="/imgs/AFRON-CMYK2.png" width="55px" style="display: center;"></div></li>
                        <li style="margin-left: 395px;"><div class="items2"><span><input class="sbar" type="search" placeholder="Search you like"></span><span><img src="/imgs/search-icon-png-21.png" width="20px" style="margin-left: 5px",margin-top="10px"></span></div></li>
                    </ul>
                </div>
                <div class="nav3">
                    <ul class="list3">
                        <li><div class="items3"><img src="/imgs/0c02ce4850d6b88d44f87271ff5f4a71.png" width="20px"> <a style="text-decoration: none; color: rgb(82, 79, 79); " @Html.ActionLink("Home","Index","Home")</a></div></li>
                        </ul>
                        <br/><br/><br/>
                <div class="banner1" style="width: 98.5%; margin-top: 5px;"><img src="/imgs/service_banner.jpg" width="100%"></div>
            <br/> <br/>
            <div style="font-size: x-large; margin-left: 10px; font-family: 'Anek Latin', sans-serif;">Help Center</div> <br/>
            <hr/>
            <br/>
            <div class="help">
                <div><img src="/imgs/customer-service-icon-10.png" width="300px"></div>
                <div style="text-align:center; border: 2px solid white; background-color: white; box-shadow:  0px 3px 5px rgb(0, 0, 0);">
                   <p style="font-family: 'Anek Latin', sans-serif; margin-left: 3px; margin-right: 3px;">Hi! Customer We are 24 hours Available for your service & you can contactus any time if you have some kind of problem or any issue with our product</p>
                   <br/>
                   <p style="font-family: 'Anek Latin', sans-serif;">For Contact us on facebook any time Click Facebook</p>
                   <div style="font-family: 'Anek Latin', sans-serif;"> <a style="margin-top: 5px;" href="https://m.facebook.com/afronimpex/"><img width="35px" src="/imgs/Facebook-Logo-Transparent-Background-Black-1024x1024.png"></a></div>
                   <br/>
                   <p style="font-family: 'Anek Latin', sans-serif;">For Contact us on Instagram any time Click Instagram</p>
                   <div style="font-family: 'Anek Latin', sans-serif;"> <a style="margin-top: 5px;" href="https://instagram.com/afronimpex?igshid=YmMyMTA2M2Y="><img width="35px" src="/imgs/mrG45j-instagram-black-logo-free-download.png"></a></div>
                   <p style="font-family: 'Anek Latin', sans-serif;">For Contact us on Mail any time Click Mail</p>
                   <div style="font-family: 'Anek Latin', sans-serif;"> <a style="margin-top: 5px;" href="afronimpex@gmail.com"><img width="35px" src="/imgs/file-tk-email-icon-svg-28.png"></a></div>
               
                </div>
            </div>
            <div style="width: 100% ; height: 10px; background-color: rgb(56, 55, 55); text-align: center; color: white;"></div>
            

           </body>
</html>